.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin: 2px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    background-color: rgb(248, 211, 110);
    color: white;
}

input {
    border: 1px solid burlywood;
    border-radius: 2px;
}
