/* 분리 */
.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(222, 222, 222);
}

/* 모듈~~~ */
.container {
    background-color: white;
}

/* 태그별 classname을 만들어 별개 적용 권장 */
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(174, 108, 235);
}

form {
    width: 300px;
    height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid blueviolet;
}

#sumbtn {
    float: right;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 25px;
    font-size: 20px;
    padding: 2px;
    border: none;
    background-color: rgb(248, 211, 110);
    color: white;
}

#sumbtn:hover {
    background-color: blueviolet;
}

#delete {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 20px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(248, 211, 110);
    color: white;
}

#delete:hover {
    background-color: blueviolet;
}

#delete:active {
    background-color: rgb(121, 14, 157);
    position: relative;
    top: 2px;
}

input[type="text"] {
    width: 260px;
    height: 27px;
    margin: 5px;
    padding: 1px;
    border: none;
    font-size: 17px;
    color: rgb(152, 152, 152);
}

input:focus[type="text"] {
    outline: none;
    color: rgb(23, 23, 23);
}

/* 기존 체크박스 스타일 숨기기 */
input[type="checkbox"] {
    display: none;
}

/* 새로운 체크박스 스타일 */
input[type="checkbox"] + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: solid 2px blueviolet;
    border-radius: 3px;
    background-color: none;
    cursor: pointer;
    user-select: none;
}

/* 체크박스 체크시 스타일 */
input:checked[type="checkbox"] + label {
    background-color: blueviolet;
}

/* input:checked[type="checkbox"] + label::after {
    display: inline-block;

    content: "✔";
    font-size: 14px;
    color: rgb(248, 211, 110);
    user-select: none;
} */

/* ul태그 안에 들어간 list에는 기본적으로 ::marker style이 적용이 되어있기때문에 none 설정으로 없애거나 혹은 다른 값으로 설정을 해주어야한다.  */
/* 혹은 reset CSS를 통해 html의 css를 모두 초기화 해주는것도 방법 */

li {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    margin: 5px;
    font-size: 17px;
    padding: 5px;
    list-style: none; /*마커없애기 */
}

.completedLine {
    text-decoration: line-through;
}

span {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
